@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title - Mobile View</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	
		<link href="~/Content/themes/Mobile/jquery.mobile-1.1.0.css" rel="stylesheet"
			  type="text/css" />
		<link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
		<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/jquery*.js")"> </script>
		<script src="~/Scripts/Mobile/jquery.mobile-1.1.0.js" type="text/javascript"> </script>
		@RenderSection("JavaScript", false)
	</head>
	<body>
		<div data-role="page">
			<div data-role="header">
				<header>
					<div class="content-wrapper">
						<div class="float-left">
							<p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
						</div>
						<div class="float-right">
							<section id="login">
								@Html.Partial("_LoginPartial")
							</section>
							<a href="~/Home" data-icon="home" data-iconpos="notext" id="current">Home</a>
							<div data-role="navbar">
								<nav>
									<ul id="menu">
										<li>@Html.ActionLink("About", "About", "Home")</li>
										<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
										@RenderSection("Menu", required: false)
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</header>
			</div>
			<div id="body">
				@RenderSection("featured", required: false)
				<section class="content-wrapper main-content clear-fix">
					@RenderBody()
				</section>
			</div>
			<div data-role="footer">
				<footer>
					<div class="content-wrapper">
						<div class="float-left">
							<p>
								&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
						</div>
						<div class="float-right">
							<ul id="social">
								<li><a href="http://facebook.com" class="facebook">Facebook</a></li>
								<li><a href="http://twitter.com" class="twitter">Twitter</a></li>
							</ul>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>